# Node.js dependencies
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*
*.log

# Environment files
.env
.env.*
.npmrc

# Build and cache outputs
.next
.next/cache
out
build
coverage

# Rust & Solana build artifacts
target/debug/
target/deploy/
target/release/
target/sbf-solana-solana/
target/.rustc_info.json

# Source control
.git
.gitignore
.gitattributes

# Miscellaneous
.DS_Store
*.pem
*.tsbuildinfo
*.swp
secrets.txt
abc.txt
application.txt