@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
    height: 100%;
}

.wallet-adapter-button-trigger {
    background: white !important;
    color: black !important;
    border: 2px solid black !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important; /* shadow-lg equivalent */
}


.wallet-adapter-button {
    font-family: inherit !important;
    background-color: white !important;
    color: black !important;
    border: 2px solid black !important;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05) !important; /* shadow-lg equivalent */
}

.dualbox {
    background-color: white;
    color: black;
    border: 2px solid black;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05); /* shadow-lg equivalent */
}

.bg-purple-200 {
    background-color: #e9d5ff !important; /* Tailwind's bg-purple-200 hex code */
}

/* Dark mode styles */
@media (prefers-color-scheme: dark) {
    .dualbox {
        background-color: #333;
        color: white;
        border: 2px solid white;
        box-shadow: 0 10px 15px -3px rgba(255, 255, 255, 0.1), 0 4px 6px -2px rgba(255, 255, 255, 0.05); /* shadow-lg for dark mode */
    }
}